@page
@model DishShare.Pages.SavedRecipesLists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SavedRecipesList[0].ListName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SavedRecipesList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SavedRecipesListID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SavedRecipesListID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SavedRecipesListID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
